body {
    padding: 20px;
}

.title {
    color: #000;
    font-size: 30px;
    margin-bottom: 30px;
}

.category-wrapper {
    padding: 10px;
    margin-bottom: 30px;
}

.category-wrapper:hover {
    -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
}

.category-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.category-info {
    text-align: center;
    padding-top: 5px;
}

.category-info a {
    color: #e57c2c;
    width: 100%;
}

.category-info a:hover {
    color: #bf590c;
    text-decoration: none;
}

.category-detailed-info {
    padding-top: 5px;
    font-size: 14px;
}

.category-name {
    color: #fff;
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

.shadow-box {
    -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.songs-section {
    color: #fff;    
    background-image: url('/music-on-hold/music-tracks/assets/music-background-image.png');    
    background-position: center;
    background: no-repeat;
    background-size: cover;
    padding: 0px;
}

.songs-section ul {
    column-count: 2;
    text-decoration: none;
}

.songs-section ul li {
    list-style: none;
}

.songs-section ul li:hover {
    color: #0f0;
    cursor: pointer;    
}

.songs-section .add-favorite {
    text-align: center;
    font-size: 20px;
}

.songs-section .add-favorite a:hover {
    color: #f00;
    cursor: pointer;
}

.player .add-favorite-player-btn:hover {
    cursor: pointer;
}

.songs-section .selected {
    color: #f9e36b;
}

.favorite-section {
    color: #fff;    
    background-image: url('/music-on-hold/music-tracks/assets/music-background.png');    
    background-position: center;
    padding: 10px;
}

.favorite-name {
    color: #fff;
    font-size: 30px;
    margin: 10px;
}

.favorite-section ul {
    column-count: 2;
    text-decoration: none;
}

.favorite-section li {
    list-style: none;
}

.favorite-section ul li:hover {
    color: #c72a2a;
    cursor: pointer;
}

.favorite-section .remove-favorite {
    text-align: center;
    font-size: 20px;
}

.favorite-section .selected {
    color: #f9e36b;
}

.submit-mail {
    text-align: center;
    margin-top: 20px;    
}

#submitModal .modal-content {
    /* background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');     */
    /* background-position: center; */
    background: #000;
    color: #fff;
}

#submitModal .submit-controls input{
    margin-bottom: 10px;
}

#favorite_songs_list_modal {
    padding: 0px 10px;
    column-count: 2;
}

#favorite_songs_list_modal li{
    list-style: none;
}

#favorite_songs_list_modal li:hover {
    color: #0f0;
    cursor: pointer;
}

/* login and sign up page  */
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
    
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
    
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
    
.card-header h3{
    color: white;
}
        
.input-group-prepend span{    
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;    
}
        
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}
    
.links{
    color: white;
}
    
.links a{
    margin-left: 4px;
}

@media only screen and (max-width: 768px) {
    .shadow-box {
        box-shadow: none;
    }
    .songs-section {
        -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
        box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
    }
    .songs-section ul {
        column-count: 1;
    }

    .favorite-section {
        -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
        box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.71);
    }
    .favorite-section ul {
        column-count: 1;
    }

    #favorite_songs_list_modal {
        column-count: 1;
    }

    .favorite-section {
        margin-top: 30px;
    }
}

/* dashboard css */
.dashboard {
    font-size: .875rem;
    padding: 0px;
}
  
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
* Sidebar
*/

.dashboard .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.dashboard .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 80px; /* Height of navbar */
    height: calc(100vh - 80px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.dashboard .sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.dashboard .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.dashboard .sidebar .nav-link.active {
    color: #007bff;
}

.dashboard .sidebar .nav-link:hover .feather,
.dashboard .sidebar .nav-link.active .feather {
    color: inherit;
}

.dashboard .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
* Navbar
*/

.dashboard .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.dashboard .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.dashboard .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.dashboard .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
* Utilities
*/

.dashboard .border-top { border-top: 1px solid #e5e5e5; }
.dashboard .border-bottom { border-bottom: 1px solid #e5e5e5; }

/* dashboard end */

.category-table td a{
    margin: 0 10px;
    font-size: 15px;
}
.category-table td a:hover{
    cursor: pointer;
}
.category-table a.category-remove-btn {
    color: #f00;
}

.dashboard h1 span {
    font-size: 20px;
    margin: 0 10px;
}

div.progress {
    width: 400px;
    border-radius: 4px;
    margin: 12px;
    display: none;
}

.progressStatus {
    float: left;
}
.progressStatus span{
    font-size: 14px;
    color: #ffffff;
}
#add-favorite-btn:hover {
    color: #ffffff;
}
.single-add-favorite-btn {
    position: absolute;
    right: 40px;
    top: 0px;
    opacity: 0;
    transition: 0.3s;
}

.songs-section ul li:hover .single-add-favorite-btn{  
    opacity: 1;
}
.single-remove-favorite-btn {
    position: absolute;
    right: 40px;
    top: 0px;
    opacity: 0;
    transition: 0.3s;
}
#favorite_songs_list li {
    position: relative;
}
#favorite_songs_list li:hover .single-remove-favorite-btn{  
    opacity: 1;
}

.player {
    background: transparent url("../assets/spr.png") no-repeat scroll center top;
    height: 162px;
    position: relative;
    width: 326px;
    z-index: 2;
    margin: auto;
}
.player .title, .artist {
    font-family: verdana;
    left: 167px;
    position: absolute;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.player .title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    top: 23px;
}
.player .artist {
    color: #EEEEEE;
    font-size: 12px;
    top: 40px;
}
.player .pl {
    background: transparent ('/music-on-hold/music-tracks/assets/spr.png') no-repeat scroll -274px -175px;
    cursor: pointer;
    height: 34px;
    left: 270px;
    position: absolute;
    top: 20px;
    width: 32px;
}
.player .pl:hover {
    top: 21px;
}
.player .cover {    
    background-size: cover;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 94px;
}
.player .controls {
    cursor: pointer;
    height: 23px;
    left: 167px;
    position: absolute;
    top: 65px;
    width: 138px;
}
.player .controls .play, .controls .pause, .controls .rew, .controls .fwd {
    background: transparent url('/music-on-hold/music-tracks/assets/spr.png') no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;
}
.player .controls .play {
    background-position: -8px -171px;
}
.player .controls .pause {
    background-position: -8px -198px;
    display: none;
}
.player .controls .rew {
    background-position: -54px -171px;
}
.player .controls .fwd {
    background-position: -100px -171px;
}
.player .controls .play:hover {
    background-position: -8px -170px;
}
.player .controls .pause:hover {
    background-position: -8px -197px;
}
.player .controls .rew:hover {
    background-position: -54px -170px;
}
.player .controls .fwd:hover {
    background-position: -100px -170px;
}
.player .hidden {
    display: none;
}
.player .controls .visible {
    display: block;
}
.player .volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.player .tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.player .ui-slider-range {
    background: transparent url('/music-on-hold/music-tracks/assets/spr.png') no-repeat scroll 5px -222px;
    height: 100%;
    position: absolute;
    top: 0;
}
.player .ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 2;
}
.player .volume .ui-slider-handle {
    background: url('/music-on-hold/music-tracks/assets/spr.png') no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}